
@media(max-width: 991px){
	.service_text{
		padding-bottom: 80px;
	}

	.contact_left {
		padding-bottom: 35px;
	}

	.price_content{
		padding-bottom: 80px;
	}

	.portfolio_content{
		text-align: center;
	}
}


@media(max-width: 343px){
	.service_text a {
	    padding: 10px 0px;
	    font-size: 12px;
	}
}